<!DOCTYPE html>
<html>

<head>
  <title>Tietojen muokkaus</title>
</head>

<body>
  <h1>Muokkaa elokuvan tietoja</h1> 
  <form action="/update_movie" method="post">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" value="{{ movie.title }}"/>
    </p>
    <p>
      Genre: <br />
      <input type="text" name="genre" value="{{ movie.genre }}"/>
    </p>
    <p>
      Kesto minuutteina: <br />
      <input type="number" name="duration" value="{{ movie.duration }}"/>
    </p>
    <input type="hidden" name="movie_id" value="{{ movie.id }}"/>
    <input type="submit" value="Päivitä tiedot" />
  </form>
</body>

</html>