<!DOCTYPE html>
<html>

<head>
  <title>Leffakanta</title>
</head>

<body>
  <h1> Leffakanta </h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/find_movie">Etsi elokuva</a> |
  {% if session.user_id %}
    <a href="/new_movie">Lisää elokuva</a> |
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>

  <h2>Elokuvat</h2>

  <ul>
    {% for movie in movies %}
    <li><a href="/movie/{{ movie.id }}">{{ movie.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
