<!DOCTYPE html>
<html>

<head>
  <title>{{ movie.title }}</title>
</head>

<body>
  <h1>{{ movie.title }}</h1>
    {% if session.user_id == movie.user_id %}
  <p>
    <a href="/edit_movie/{{ movie.id }}">Muokkaa</a>
    <a href="/remove_movie/{{ movie.id }}">Poista</a>
  </p>
    {% endif %}
  <p>
    Genre: {{ movie.genre }}
  </p>
  <p>
    Kesto: {{ movie.duration }} min
  </p>
  <p>
    Lisääjä: <a href="/user/{{ movie.user_id }}">{{ movie.username }}</a>
  </p>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>